html {
   font-family: Ubuntu, sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.wrapper {
   max-width: 1220px;
   margin: 0 auto;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/*--------------------------------------------------------------------*/
.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1220px;
   margin: 0 auto;
   padding: 30px 0;
   border-bottom: 1px solid #d3cbd9;
   gap: 10px;
}

.phone {
   text-align: right;
}

.phone-text {
   font-style: Ubuntu, sans-serif;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858e8a;
   text-transform: uppercase;
   text-align: right;
   margin-bottom: 8px;
}

.phone-link {
   font-style: Ubuntu, sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: black;
   text-decoration: none;
}

/*-------------------------------------------------------------------------------------*/
footer {
   background: linear-gradient(90deg,
         rgba(73, 169, 255, 0.2) 0%,
         rgba(252, 124, 217, 0.2) 100%);
   margin-top: auto;
   text-align: center;
   padding: 60px 0 40px;
}
.footer-top {
   border-bottom: 1px solid #D3CBD9;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 40px;
}

.list {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding-bottom: 40px;
}

.footer-nav ul li a {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   text-decoration: none;
   color: #535755;
}
.footer-nav ul li a:hover {
   color: violet;
}
.copyright {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
font-size: 14px;
letter-spacing: 0.04em;
color: #858E8A;
   margin-top: 40px;
   margin-bottom: 0;
}