.header {
  position: fixed;
  z-index: var(--layer-3);
  padding-block: 30px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  transition: box-shadow var(--transition-time);
}
.header--fixed {
  box-shadow: 0 0 20px var(--shadow-color);
}
.header__container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  /* 992-1440*/
  margin-right: clamp(25px, -11.585rem + 21.21vw, 120px);
}
@media (width > 768px) {
  .header__logo {
  /* 992-1440*/
  margin-right: clamp(30px, -10.58rem + 20.09vw, 120px);
}
  .header__menu {
    flex-grow: 1;
  }
}
@media (width <= 768px) {
  .header__menu {
    position: fixed;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: var(--layer-2);
    background-color: var(--bg-color);
    min-width: 297px;
    padding-top: 144px;
    padding-right: 15px;
    box-shadow: -2px 0 20px var(--bg-color);
    opacity: 0;
    visibility: hidden;
    transition: right var(--transition-time), opacity var(--transition-time) , visibility var(--transition-time);
  }
  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
}

.header__controls {
  display: flex;
  align-items: center;
}
@media (width > 992px) {
  .header__controls {
    gap: 60px;
  }
}
@media (width <= 992px) {
  .header__controls {
    gap: 30px;
  }
}
.header__order {
  position: relative;
  padding: 0px 0px 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.header__order::before {
  top: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  content: "";
  width: 90%;
  min-height: 11px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: blur(30px);
  opacity: 0;
  visibility: hidden;
  transition:
    visibility var(--transition-time),
    opacity var(--transition-time);
}
@media (any-hover: hover) {
  .header__order:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
.header__actions {
  display: flex;
}
@media (width > 768px) {
  .header__actions {
    gap: 20px;
  }
}
@media (width <= 768px) {
  .header__actions {
    gap: 20px;
  }
}
.header__actions-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  width: 24px;
  height: 24px;
  transition: color var(--transition-time);
}
@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--accent-color);
  }
}
.header__actions-button:active {
  color: var(--accent-color);
}
.header__actions-icon {
  stroke: currentColor;
}
