:root {
  /* font-family */
  --font-family: "Montserrat", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #ffea00;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disable-color: #5d5d56;

  /* container */
  --container-max-width: 1240px;
  --container-padding: 15px;

  /* transitions time  */
  --transition-time: 0.2s;
  --shadow-color: #181817;

  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
