.hero {
  position: relative;
}
@media (width > 576px) {
  .hero {
    margin-bottom: 94px;
  }
}
@media (width <= 576px) {
  .hero {
    margin-bottom: 80px;
  }
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
}
@media (width > 768px) {
  .hero__container {
    padding-top: 60px;
  }
}
@media (width <= 768px) and (width > 576px) {
  .hero__container {
    padding-top: 20px;
  }
}
.hero__image {
  position: absolute;
  z-index: var(--layer-negative);
  top: 88px;
  left: 50%;
  transform: translate(-50%);
}
.hero__header {
  display: flex;
  justify-content: center;
  z-index: var(--layer-1);
  flex-grow: 1;
}
@media (width > 768px) {
  .hero__header {
    align-items: center;
  }
}
@media (width <= 768px) {
  .hero__header {
    flex-direction: column;
  }
}

.hero__title {
  display: flex;
  gap: clamp(8px, 0.09rem + 1.75vw, 35px);
  justify-content: center;
  font-weight: 600;
  font-size: clamp(48px, 1.786rem + 5.18vw, 128px);
  text-transform: uppercase;
  color: var(--main-color);
}
.hero__title-accent {
  color: transparent;
  -webkit-text-stroke: 3px var(--accent-color);
}
@media (width > 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 3px var(--accent-color);
  }
}
@media (width <= 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent-color);
  }
}
.hero-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (width > 768px) {
  .hero-list {
    position: absolute;
    left: 0;
  }
}
.hero-list-item {
  font-weight: 400;

  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media (width > 768px) {
  .hero-list-item {
    font-size: 16px;
  }
}
@media (width <= 768px) {
  .hero-list-item {
    font-size: 14px;
  }
}
.hero__footer {
  text-align: end;
  padding-bottom: 20px;
}
.hero__footer-details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
   fill: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color var(--transition-time);
}
.hero_footer-details-icon {
  stroke: currentColor;
}
@media (any-hover: hover) {
  .hero__footer-details:hover {
    color: var(--accent-color);
  }
}
