form {
   border: 1px solid black;
   border-radius: 5px;
   width: 300px;
}
h3,legend,input,textarea {
   margin-left: 20px;
   width: 200px ;
}
legend {
   margin-bottom: 2px;
   margin-top: 5px;
}
input {
   width: 200px ;
   padding-left: 6px;
   border: 1px solid black;
   border-radius: 5px;
   height: 20px;
}


textarea {
   min-width: 200px;
   max-width: 200px;
   max-height: 200px;
   min-height: 30px;
   padding-left: 6px;
}
input.checkbox {
   width: auto;
border: none;
cursor: pointer;


}
label {
   display: block;
   margin-bottom: 2px;
    vertical-align: middle;
}
button {
   margin: 3px auto 15px 20px;
   cursor: pointer;
}