form {
   border: 1px solid black;
   border-radius: 5px;
   width: 300px;
}
input,textarea {
   margin-top: 5px;
   width: 200px ;
   border: 1px solid black;
}
legend {
   margin: 10px auto 10px 20px;
   font-weight: 900;

}

input {
   width: 200px ;
   padding-left: 6px;
   border: 1px solid black;
   border-radius: 5px;
   height: 20px;
}


textarea {
   min-width: 200px;
   max-width: 200px;
   max-height: 200px;
   min-height: 30px;
   padding-left: 6px;
}
input.checkbox {
   width: auto;
border: none;
cursor: pointer;
padding-top: ;


}
label {
   margin-left: 20px;
   display: block;
   margin-bottom: 15px;
    vertical-align: middle;
}
button {
   margin: 3px auto 15px 20px;
   cursor: pointer;
}