.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  scroll-padding-top: 98px;
  scroll-behavior: smooth;
}

.page__body {
  min-width: 375px;
  min-height: 200vh;
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-max-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}
img{
  object-fit: cover;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}
.text-light,
.text-regular {
font-size: 16px;
line-height: 140%;
color: var(--main-color);
}
.text-regular {
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}
.title-md {
font-weight: 600;
font-size: clamp(32px, 0.936rem + 4.54vw, 60px);
text-transform: uppercase;
color: var(--main-color);
}
