.first {

  
}
.first__container {
  position: relative;
  overflow: visible;
}
.first__bc-wrapper{
  
  width: 1440px;
  height: 663px;
  position: absolute;
  top: 0;
  left: 50%;
   transform: translateX(-50%);
  z-index: -2;
  
}
.content__bc-img {
   max-width: 100%; /* Изображение не превышает ширину контейнера */
  height: auto;    /* Сохранение пропорций */
  display: block; 
    position: relative;
    z-index: -2;
}
.content__bc-img-decor-icon-left,
.content__bc-img-decor-icon-right {
  position: absolute;
  z-index: var(--layer-negative);
}
.content__bc-img-decor-icon-left {
  top: 288px;
  right: 633px;
}
.content__bc-img-decor-icon-right {
  top: 77px;
  right: 80px;
}


.content__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(32px, 16.81px + 4.05vw, 57px);
  line-height: 112%;
  color: #000;
  max-width: 577px;
  padding-top: 97px;
}
.content__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: rgba(0, 0, 0, 0.6);
  max-width: 551px;
  margin-top: 34px;
}
.content__grid {
    max-width: 644px;
  display: flex;
  margin-block: 53px;
}
.content__buy-btn {
  margin-top: 32px;
  border-radius: 62px;
  padding: 16px 54px;
  background-color: #000;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.grid-item:first-child {
  padding-right: 32px;
  border-right:  1px solid rgba(0, 0, 0, 0.1);
}
.grid-item:nth-child(2) {
  padding-inline: 32px;
  border-right:  1px solid rgba(0, 0, 0, 0.1);;
  
}
.grid-item:last-child {
  padding-left: 32px;
}

.grid-item-h {
  font-family: var(--font-family);
  font-weight: 700;
  font-size:  clamp(0.75rem, -0.0455rem + 3.3939vw, 2.5rem);
  color: #000;
}
.grid-item-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.6364rem + 0.4848vw, 1rem);
  line-height: 138%;
  color: rgba(0, 0, 0, 0.6);
}
@media (width <= 992px) {
  .content__grid {
    flex-wrap: wrap;
  max-width: 400px;
}
  .first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content__title {
    padding-top: 40px;
    line-height: 106%;
  }
  .content__text {
    margin-top: 20px;
  }
  .content__text {
    font-size: 14;
  }
  .content__grid {
    max-width: 577px;
  }
  .grid-item:nth-child(2){
    grid-column-start: 3; 
  }
  .grid-item:last-child {
    grid-row: 2;
    grid-column-start: 2 ;
  }
 
  .content__buy-btn {
    width: 50%;
  }
}
@media (width <= 992px) {
   .first__bc-wrapper {
    position: relative;
    width: 100%;
  }
  .content__bc-img-decor-icon-left,
  .content__bc-img-decor-icon-right {
    position: absolute ;
  }
  .content__bc-img-decor-icon-left {
    
    right: 50px;
    z-index: var(--layer-3);
  }
  .content__bc-img-decor-icon-right {
    width: 76px ;
    height: 76px;
  }
}
/*----------------------------------------*/

.first__bottom  {
  background-color: #000;
  max-width: 1440px;
  margin-inline: auto;
}
.first__bottom__container {
  display: flex;
  justify-content: space-between;
  padding-block: 43px;
}