.header__container {
  padding-top: 62px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu__list {
  display: flex;
  gap: 24px;
}
@media (width <= 1180px) {
 
  .header__logoandburger-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
  }
}
@media (width <= 768px) {
 
  .header__menu {
    position: fixed;
    z-index: var(--layer-1);
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #F2F0F1;
    min-width: 300px;
    box-shadow: -2px 0 20px var(--shadow-color);
    opacity: 0;
    visibility: hidden;
    transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
  }
   .header__menu .header__menu__list {
    flex-direction: column;
    padding-left: 15px;
    padding-top: 150px;
    align-items: flex-start;
  }
}

.header__menu--open {
  left: 0;
  opacity: 0;
  visibility: visible;
}


.header__logo-text {
  font-family: var(--third-family);
  font-weight: 700;
  font-size:clamp(25px, 22.86px + 0.57vw, 32px);
  color: #000;
}
.menu__list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.header__search-stroke {
    
    display: inline-block;
width: 462px;
  border: none;
  background-color: #f0f0f0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 62px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 52px;
}
.header__search-stroke-wrapper{
  position: relative;
}
.header__search-btn {
  position: absolute;
  top: 11px;
  left: 16px;
  z-index: var(--layer-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width > 1180px) {
    .header__account-search-icon {
      display: none;
    }
}
@media (width <= 1180px) {
    .header__search-stroke{
        display: none;
    }
    .header__search-btn {
      display: none;
    }
}


.header__account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.header__account-cart ,
.header__account-search,
.header__account-account,
.menu__list-item,
.menu__list-item-btn
 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list-item:first-child {
    gap: 4px;
}

}