@media (width > 768px) {
    .burger{
        display: none;
    }
}
@media (width <= 1225px) {
    .header__search-stroke {
        max-width: 462px;
    }
}

@media (width <= 768px) {
  .burger {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
    width: 24px;
    height: 24px;
    z-index: var(--layer-2);
  }
  
}




  .header__burger-icon ,
.burger--open .header__closer-icon {
    display: block;
}
.header__closer-icon,
.burger--open .header__burger-icon {
    display: none;
}