.choose-your-style__title {
  padding-top: 70px;
}
.choose-your-style__grid-item--title {
  font-family: Satoshi;
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  padding-left: 36px;
  padding-top: 25px;
}
.choose-your-style__container {
  max-width: 1239px;
  background-color: #f0f0f0;
  border-radius: 40px;
}
.choose-your-style__grid {
  display: grid;
  padding-inline: 65px;
  padding-bottom: 76px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 289px);
}
.choose-your-style__grid-item {
  position: relative;
  overflow: hidden;
  max-height: 289px;
  border-radius: 20px;
  background-color: #fff;
  flex-wrap: wrap;
}
.choose-your-style__grid-item--title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  color: #000;
}
.choose-your-style__grid-item:nth-child(2) {
  grid-column-start: 2 span;
}
.choose-your-style__grid-item:nth-child(3) {
  grid-column-start: 2 span;
}
/* images */
.choose-your-style__grid-item--img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media (width <= 843px) {
  .choose-your-style__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
  }

  .choose-your-style__grid-item {
   height: 285px; 
   grid-column-start: 2 span;
  }

  .choose-your-style__grid-item--img {
    
     width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
  }

  .choose-your-style__grid-item--title {
    padding-left: 20px; 
    font-size: clamp(1.875rem, 1.0737rem + 3.4188vw, 2.875rem);
  }
}

@media (width <= 500px) {
  .choose-your-style__grid-item--img{
    filter: blur(4px);
  }
  .choose-your-style__grid-item {
   height: 190px; 
  }
  .choose-your-style__grid {
    padding-inline: 20px; 
  }
.choose-your-style__title{
  padding-top: 40px;
  padding-bottom: 28px;
  margin-bottom: 0px;
}
  .choose-your-style__grid-item--title {
    padding-left: 15px;
  }
}
