.article__newbie__wrapper {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  gap: 20px;
}
.newbie__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 64px;
}
.newbie__card {
  flex: 1 1 280px;
  max-width: 295px;
  min-width: 174px;
}
.newbie__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(30px, 1.3636rem + 2.1818vw, 48px);
  text-align: center;
  color: #000;
  text-align: center;
  padding-top: 64px;
  margin-bottom: 55px;
}


.newbie-name {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
  color: #000;
}

.newbie-rating {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-block: 8.26px;
}
.stars-row {
  display: flex;
  align-items: center;
  gap: 5.31px;
}

.newbie-rating--numbers {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.newbie-rating--numbers-accent {
  opacity: 0.6;
}
.newbie-cost-now {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  color: #000;
}
.newbie-cost-container {
  display: flex;
  gap: 10px;
}
.newbie-sale {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #f33;
  border-radius: 62px;
  padding: 6px 14px;
  background-color: rgba(255, 51, 51, 0.1);
}
.newbie__showmore-btn {
  margin-top: 36px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  padding: 16px 54px;
  margin-inline: auto;
}
.newbie__showmore-btn:hover .newbie__showmore-btn--link {
  color: #B39F7A;
}
.newbie__showmore-btn--link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
   transition: color var(--transition-time);
}

.newbie-cost-prev {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.bestseller {
  padding-bottom: 80px;
}
@media (width <= 576px) {
    .newbie-cost-container {
        gap: 5px;
    }
    .newbie-sale {
        font-size: 10px;
        padding: 4px 8px;
    }
    .newbie-rating--numbers,
    .newbie-rating--numbers-accent  {
        font-size: 12px;
    }
    .article__newbie__wrapper  {
        gap: 10px;
    }
    .newbie__showmore-btn--link {
        font-size: 14px;
    }
    .newbie__showmore-btn  {
        padding-inline: 115px;
    }
    .newbie__container {
        padding-bottom: 40px;
    }
    .newbie-name{
        margin-top: 11px;
    }
    
}
@media (width <= 631px) {
  .newbie__card:nth-child(3),
  .newbie__card:last-child {
    display: none;
  }
  .article__newbie__wrapper {
    flex-wrap: nowrap;
  }
}


@media (width <= 1199px) {
  .article__newbie__wrapper {
    max-width: 700px;
    margin-inline: auto;
  }
}