html {
   font-family: Ubuntu, sans-serif;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   border-bottom: 1px solid #D3CBD9;
   gap: 10px;
}

.phone {
   text-align: right;
}

.phone-text {
   font-style: Ubuntu, sans-serif;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858E8A;
   text-transform: uppercase;
   text-align: right;
   margin-bottom: 8px;
}

.phone-link {
   font-style: Ubuntu, sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: black;
   text-decoration: none;
}

/*--------------------------------------------------------------------*/
footer {
   background: linear-gradient(90deg,
         rgba(73, 169, 255, 0.2) 0%,
         rgba(252, 124, 217, 0.2) 100%);
   margin-top: auto;
   text-align: center;
   padding: 60px 0 40px;
}

.footer-top {
   border-bottom: 1px solid #D3CBD9;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 40px;
}

.list {
   display: flex;
   flex-direction: r;
   list-style: none;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding-bottom: 40px;
}

.footer-nav ul li a {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   text-decoration: none;
   color: #535755;
}

.footer-nav ul li a:hover {
   color: violet;
}

.copyright {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858E8A;
   margin-top: 40px;
   margin-bottom: 0;
}

/*--------------------------------------------------------------------*/
.one-container {
   padding-block: 80px;
}



.one-container h1 {
   font-family: Oswald, sans-serif;
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   color: #2C332F;
   padding-bottom: 40px;

}

p {
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
}

.one-p1 {
   margin-bottom: 20px;
}

.one-p2 {
   margin-bottom: 80px;
}

.one img {
   max-width: 1220px;
}

.one-img-wrapper {
   position: relative;
}
.one-img-wrapper::before {
   display: none;
   content: "";
   position: absolute;
   right: 1000px;
   top: 100px;
   z-index: -1;
   width: 100%;
   height: 48px;
   background: url(../images/decor-hero.svg) repeat-x;
}

/*------------------------------------------------------------------------*/
 h2 {
   font-family: Oswald, sans-serif;
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   color: #2C332F;
   padding-bottom: 40px;
}

ul.list-two {
   display: flex;
   flex-direction: column;
   gap: 12px;
   align-items: start;
   padding-left: 24px;
   margin-bottom: 80px;
}

.list-item {
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
}

.list-item::marker {
   font-size: 26px;
   color: #3596ED;
}
/*------------------------------------------------------------------------*/
.three-container {
   padding-bottom: 120px;
}
.three-container p {
   margin-top :40px ;
}
.img-wrapper {
   position: relative;
}


/*------------------------------------------------------------------------*/
.two-img-wrapper {
   position: relative;
}
.two-img-wrapper::after {
   display: none;
   content: "";
   position: absolute;
   top: 328px;
   z-index: -1;
   width: 100%;
   height: 48px;
   background: url(../images/decor-hero.svg) repeat-x;
}
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #38a2ff;
}

.button:not(:disabled):active {
  background-color: #2d82cd;
}
.article-img {
   max-width: 1220px;
   height: auto;
}

@media (width <=1440px) {
 .article-img {
   width: 50%;
  }
}

@media (width <=992px) {

}
@media (width <=768px) {
   .list {
      flex-direction: column;
      gap: 25px;
   }
}
@media (width <=576px) {
   
}
