* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,250px));
	gap: 20px;
	
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns:repeat(12,1fr) ;
	grid-template-rows: auto;
	 grid-auto-rows: 300px;
  
 
  grid-auto-flow: row;
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-column: 12 span;
	
}

.aside {
	background-color: #e2e20d;
	grid-column: 2 span;
	grid-row: 3 span;
}

.main {
	
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 10 span;
	grid-row: 3 span;
	 grid-auto-rows: 100px;
  
  /* Размещение: сначала по строкам, потом новые строки */
  grid-auto-flow: row;
	

}

.article {
	background-color: #de6e05;
	min-height: 300px;
	
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-column: 12 span;
	grid-row: 3 span;

}
/*---------------*/
@media (width =< 661){

}
