html {
   font-family: Ubuntu, sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.wrapper {
   max-width: 1220px;
   margin: 0 auto;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/*--------------------------------------------------------------------*/
.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1220px;
   margin: 0 auto;
   padding: 30px 0;
   border-bottom: 1px solid #d3cbd9;
   gap: 10px;
}

.phone {
   text-align: right;
}

.phone-text {
   font-style: Ubuntu, sans-serif;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858e8a;
   text-transform: uppercase;
   text-align: right;
   margin-bottom: 8px;
}

.phone-link {
   font-style: Ubuntu, sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: black;
   text-decoration: none;
}

/*-------------------------------------------------------------------------------------*/
.footer {
   background: linear-gradient(90deg,
         rgba(73, 169, 255, 0.2) 0%,
         rgba(252, 124, 217, 0.2) 100%);
   margin-top: auto;
   text-align: center;
   padding: 60px 0 40px;
}

.footer-top {
   border-bottom: 1px solid #D3CBD9;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 40px;
}

.list {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding-bottom: 40px;
}

.footer-nav ul li a {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   text-decoration: none;
   color: #535755;
}

.footer-nav ul li a:hover {
   color: violet;
}

.copyright {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858E8A;
   margin-top: 40px;
   margin-bottom: 0;
}

/*-------------------------------------------------------------------------------------*/
.hero {
   display: flex;
   justify-content: center;
   padding-top: 80px;
   position: relative;
}

.hero::after {
   position: absolute;
   content: '';
   background: url(../images/decor-hero.svg) repeat-x;
   width: 100%;
   height: 48px;
   z-index: -1;
   bottom: 106px;
}


.hero-container {
   position: relative;
   max-width: 1220px;
   display: flex;
   gap: 28px;
   align-items: center;

}



.hero-right {
   display: flex;
   position: relative;
}

.hero-right p {
   background: rgba(255, 255, 255, 0.9);
   position: absolute;
   border: 1px solid #535755;
   padding: 22px;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   text-align: center;
   font-family: Ubuntu, sans-serif;
   max-width: 161px;
   text-align: center;
   top: 40px;
   left: 50%;
   transform: translateX(-50%);
}

.hero-left h1 {
   font-family: "Oswald", sans-sefrif;
   font-weight: 600;
   font-size: 62px;
   line-height: 115%;
   text-transform: uppercase;
}

strong {
   color: #3596ED;
}

.hero-left p {
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
   margin-bottom: 140px;
   margin-top: 40px;
   max-width: 440px;
}

.hero-left a {
   font-family: Ubuntu, sans-serif;
   padding: 19px 32px;
   background-color: #3596ED;
   font-weight: 500;
   font-size: 15px;
   line-height: 130%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   text-decoration: none;
}

/*-------------------------------------------------------------------------------------*/
.news {
   display: flex;
   justify-content: center;
   padding-top: 140px;
   padding-bottom: 140px;
}
.news-wrapper h2 {
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   font-family: Ubuntu, sans-serif;
   margin-bottom: 40px;
}

.news-container {
   margin: 0 auto;
   display: flex;
   gap: 28px;
}
.news-header img {
   display: block;
}

article {
   overflow: hidden;
   max-width: 284px;
   border: 1px solid #D3CBD9;
   max-width: 284px;
   align-items: center;
}

article h3 {
   margin-top: 8px;
   max-width: 244px;

   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #2C332F;
   font-family: Ubuntu, sans-serif;
}
time {
  
   font-weight: 300;
font-size: 14px;
letter-spacing: 0.04em;
text-transform: uppercase;
font-family: Ubuntu, sans-serif;
color: #858E8A;
}
.news-info {
   padding: 20px 20px 12px;
}
.news-footer {
   padding: 0 20px 20px;
}
.news-footer-link {
   display: inline-flex;
   gap: 8px;
   align-items: center;
   font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #3596ED;
font-family: Ubuntu,sans-serif;
cursor: pointer;
text-decoration: none;
}
.news-footer-link::after {
   content: "";
   display: inline-block;
   width:22px ;
   height: 9px;
   background: url(../images/arrow-right.svg);
   transition: transform 0.2s;
}
.news-footer-link:hover::after {
   transform: translateX(5px);
}

/*-------------------------------------------------------------------------------------*/

.faq {
   display: flex;
   justify-content: center;
   padding-top: 140px;
   padding-bottom: 140px;
   position: relative;
}
.faq::before {
      position: absolute;
   content: '';
   background: url(../images/decor-hero.svg) repeat-x ;
   width: 100%;
   height: 48px;
   z-index: -1;
   top: 355px;
}

.faq-container {
   max-width: 1220px;
}
.faq-inner {
   display: flex;
   gap: 28px;
}
.faq-container h2 {
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   font-family: Ubuntu, sans-serif;
   margin-top: 0;
   margin-bottom: 40px;}
summary {
   padding: 20px;
   display: flex;
   list-style: none;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   cursor: pointer;
}
summary::after {
   display: inline-block;
   margin-right: 20px;
   content: "";
   width: 17px;
   height: 22px;
   background: url(../images/arrow-faq.svg);
}

summary:-webkit-details-marker {
   display: none;
}
details {
   border-block: 1px solid #D3CBD9;
   margin-bottom: 20px;
}
details[open] summary::after {
   transform: rotate(180deg);
}
details summary{
   font-family: Ubuntu, sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 115%;
text-transform: uppercase;
color: #2C332F;
}
details > p {
   margin: 0;
 font-family: Ubuntu, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
padding: 0 20px 20px 20px;
}
