footer {
  background-color: #f0f0f0;
}

.footer__container {
  position: relative;
}

.footer__feedback {
  position: relative;
  z-index: 1;
  transform: translateY(50%);
  background-color: #000;
  max-width: 1240px;
  border-radius: 20px;
  display: flex;
  gap: 74px;
}

.footer__menu-wrapper {
  padding-top: 140px;
  display: flex;
  gap: 117px;
}

.footer__feedback-text {
  font-family: Satoshi;
  font-weight: 900;
  font-size: 40px;
  line-height: 113%;
  color: #fff;
  padding-block: 43px;
  padding-left: 65px;
  width: 689px;
}

.footer__feedback-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  gap: 14px;
  margin-block: auto;
}

.footer__feedback-btn {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border-radius: 62px;
  padding: 12px 16px;
  background-color: #fff;
  width: 349px;
  height: 48px;
  transition: color var(--transition-time);
}
.footer__feedback-btn:hover {
  color: #B39F7A;
}

.footer__feedback-input {

  width: 100%;
  box-sizing: border-box;
  max-width: 349px;
  height: 48px;
  border-radius: 62px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 52px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.footer__feedback-input-container {
  z-index: 0;
  position: relative;
}

.footer__feedback-input-container::after {
  position: absolute;
  display: block;
  content: "";
  background: url(../../icon/msg.svg) no-repeat;
  height: 24px;
  width: 24px;
  z-index: 2;
  top: 15px;
  left: 20px;
}

.footer__menu-nav-list:last-child {
  width: 162px;
}

.footer__menu {
  display: grid;
  gap: 117px;
  grid-template-columns: repeat(4, auto);


}

.footer__logo {
  width: 248px;
}

.footer__logo-text {
  font-family: IntegralCF;
  font-weight: 700;
  font-size: 33px;
  color: #000;
}

.footer__logo-desc {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 25px;
}

.footer__logo-socials {
  display: flex;
  gap: 12px;
  padding-top: 35px;
}

.footer__menu-nav-item-list--name {
  font-family: Satoshi, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 26px;
}

.footer__menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__menu-nav-item-list-item-link {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(0, 0, 0, 0.6);
  transition: color var(--transition-time);
}
.footer__menu-nav-item-list-item-link:hover {
  color:  #B39F7A;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-top: 26px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 82px;
}

.footer__copyright-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

@media (width <=1172px) {
  .footer__menu {
    gap: 80px;
  }
}

@media (width <=1063px) {
  .footer__feedback {
    gap: 40px;
  }


}

@media (width <=1034px) {
  .footer__menu-wrapper {
    padding-top: 175px;
  }
}

@media (width <=1060px) {
  .footer__feedback {
    gap: 40px;
  }

  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

  }

  .footer__menu-wrapper {
    justify-content: space-evenly;
  }
}

@media (width <=768px) {
  .footer__menu {
    margin-left: 0;
  }

  .footer__feedback-text {
    font-size: 35px;
  }

  .footer__menu-wrapper {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .footer__feedback {
    flex-direction: column;
    gap: 0;
  }

  .footer__feedback-wrapper {
    margin-right: 0;
    padding-left: 65px;
    padding-bottom: 28px;
  }

  .footer__menu-nav-item-list--name {
    padding-bottom: 0;
  }
}

@media (width <=576px) {
  .footer__menu {
    gap: 24px;
  }

  .footer__menu-wrapper {
    gap: 24px;
  }

  .footer__menu-nav-list {
    gap: 12px;
  }

  .footer__menu {
    margin-inline: auto;
  }

  .footer__menu-nav-item-list-item-link,
  .footer__menu-nav-item-list--name {
    font-size: 14px;
  }

  .footer__menu-nav-item-list--name {
    padding-bottom: 16px;
  }

  .footer__feedback-text {
    font-size: 30px;
    padding-left: 24px;
    padding-block: 32px;

  }

  .footer__feedback-wrapper {
    padding-left: 24px;
  }

  .footer__feedback-input,
  .footer__feedback-btn {
    width: 311px;
    font-size: 14px;
  }

  .footer__copyright {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 77px;
  }

  .footer__logo-text {
    font-size: 28px;
  }
}

@media (width <=456px) {
  .footer__feedback-text {
    max-width: 297px;
  }
}