html {
   font-family: Ubuntu, sans-serif;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   border-bottom: 1px solid #D3CBD9;
   gap: 10px;
}

.phone {
   text-align: right;
}

.phone-text {
   font-style: Ubuntu, sans-serif;
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858E8A;
   text-transform: uppercase;
   text-align: right;
   margin-bottom: 8px;
}

.phone-link {
   font-style: Ubuntu, sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: black;
   text-decoration: none;
}

/*--------------------------------------------------------------------*/
footer {
   background: linear-gradient(90deg,
         rgba(73, 169, 255, 0.2) 0%,
         rgba(252, 124, 217, 0.2) 100%);
   margin-top: auto;
   text-align: center;
   padding: 60px 0 40px;
}

.footer-top {
   border-bottom: 1px solid #D3CBD9;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 40px;
}

.list {
   display: flex;
   flex-direction: r;
   list-style: none;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding-bottom: 40px;
}

.footer-nav ul li a {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   text-decoration: none;
   color: #535755;
}

.footer-nav ul li a:hover {
   color: violet;
}

.copyright {
   font-style: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #858E8A;
   margin-top: 40px;
   margin-bottom: 0;
}

/*--------------------------------------------------------------------*/
.one {
   
    padding-top: 80px;
    padding-bottom: 120px;

}



.one-container h1 {
   font-family: Oswald, sans-serif;
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   color: #2C332F;
   padding-bottom: 40px;

}

p {
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
}


.three p {
   
   margin-top: 40px;
}

.one-p1 {
   margin-bottom: 20px;
}

.one-p2 {
   margin-bottom: 80px;
}



.one-img-wrapper {
   position: relative;
}

.one-img-wrapper::before {
   top: 100px;
   left: 0;
   content: "";
   position: absolute;
   right: 1000px;
   top: 100px;
   z-index: -1;
   width: calc(50%-300px);
   height: 48px;
   background: url(../images/decor-hero.svg) repeat-x;
}

/*------------------------------------------------------------------------*/
.two {
   padding-bottom: 80px;
}
h2 {
   font-family: Oswald, sans-serif;
   font-weight: 600;
   font-size: 48px;
   line-height: 115%;
   text-transform: uppercase;
   color: #2C332F;
   padding-bottom: 40px;
}

ul.list-two {
   display: flex;
   flex-direction: column;
   gap: 12px;
   align-items: start;
   padding-left: 24px;
   
}

.list-item {
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
}

.list-item::marker {
   font-size: 26px;
   color: #3596ED;
}

/*------------------------------------------------------------------------*/
.three {
   padding-bottom: 120px;
}
.three-container p {
   margin-top: 40px;
}

.img-wrapper {
   position: relative;
}


/*------------------------------------------------------------------------*/
.two-img-wrapper {
   position: relative;
}

.two-img-wrapper::before {
   right: 0;
   bottom: 136px;
   content: "";
   position: absolute;
   z-index: -1;
   width: calc(50% - 250px);
   height: 48px;
   background: url(../images/decor-hero.svg) repeat-x;
}

.button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 60px;
   padding: 0;
   background-color: #3596ed;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 0.2s;
}

.button:hover {
   background-color: #38a2ff;
}

.button:not(:disabled):active {
   background-color: #2d82cd;
}



@media (width <=992px) {
   .footer-nav .list {
   gap: 50px;
  }
   .one-p2 {
      margin-bottom: 50px;
   }
   .one {
      padding-top: 70px;
   }
   .one ,
   .two ,
   .three {
      padding-bottom: 50px;
   }
   .two-img-wrapper::before ,
   .one-img-wrapper::before {
      display: none;
   }
}

@media (width <=768px) {
   .footer-nav .list {
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      padding-left: 0;
   }
   .footer-nav {
      text-align:center;
   }
   .one h1 {
      font-size:  42px;
   }
   h2 {
      font-size:  42px;
   }
   p {
      font-size: 14px;
   }
   .button {
      width: 40px;
      height: 40px;
   }
   .button img {
      width: 18px;
      height: 18px;
   }
}

@media (width <=576px) {
    .one h1 {
      font-size:  34px;
   }
   h2 {
      font-size:  34px;
   }
   p {
      font-size: 10px;
   }

}